# 행렬 분해를 이용한 잠재요인 협업 필터링 실습

# 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

In [3]:
rating_df = pd.read_csv('./필요 데이터/ml-latest-small/ratings.csv')
movie_df = pd.read_csv('./필요 데이터/ml-latest-small/movies.csv')

display(rating_df.head())
display(movie_df.head())
print(rating_df.shape, movie_df.shape)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

(100836, 4) (9742, 3)

### 사용자-아이템 데이터프레임만들기

In [4]:
rating_movies_df = pd.merge(rating_df, movie_df, on = 'movieId')
rating_movies_df

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [7]:
user_item_df = rating_movies_df.pivot_table('rating', index = 'userId', columns = 'title')
user_item_df.fillna(0, inplace = True)
user_item_df

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.5,3.5,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,...,0.0,4.0,3.5,3.0,0.0,0.0,2.0,1.5,0.0,0.0

## 경사하강법을 활용한 행렬분해로 잠재요인 찾기

### 경사하강법 평가 방법 사용자함수화

In [8]:
from sklearn.metrics import mean_squared_error

In [9]:
def get_rmse(R, P, Q, non_zeros):
    # 예측된 평점 행렬
    pred_R = P.dot(Q.T)
    
    # 평점 행렬 내 0이 아닌 행렬 추출
    non_zero_R = R[R > 0].tolist()
    non_zero_pred_R = [pred_R[i, j] for i, j, r in non_zeros]
    
    mse = mean_squared_error(non_zero_R, non_zero_pred_R)
    rmse = np.sqrt(mse)
    
    return rmse

In [ ]:
# 실제 평점 내 0이 아닌 행렬의 인덱스 추출
num_users, num_items = user_item_df.shape
non_zeros = [(i, j, user_item_df.iloc[i, j]) for i in range(num_users) for j in range(num_items) if user_item_df.iloc[i,j] > 0]

# SGD를 활용한 잠재요인 행렬 훈련
l2_norm = 0.01
learning_rate = 0.01
steps = 1000

P = np.random.normal((num_users, k))
Q = np.random.normal((num_items, k))

for step in steps:
    for i, j, r in non_zeros:
        eij = r - P.dot(Q.T)[i, j]
        P[i,:] = P[i,:] + learning_rate * (eij * Q[j,:] - l2_norm * P[i,:])
        Q[j,:] = Q[j,:] + learning_rate * (eij * P[i,:] - l2_norm * Q[j,:])
        
    if step % 50 == 0:
        rmse = get_rmse(user_item_df.values, P, Q, non_zeros)
        print(f'#### {step}번째 훈련중 #### \n\t rmse: {rmse}')

### 비교해보기

In [ ]:
pred_df = pd.DataFrame(np.(P.dot(Q.T)), index = user_item_df.index, columns = user_item_df.columns)
pred_df.head()

In [ ]:
user_item_df.head()